.mypage-main {padding: 2rem 0;background: #F2F2F2;}

/* Content =========================================== */

.auth-content {margin-bottom: 3rem;}

.settings-nav .card-header {display: flex; align-items: center; justify-content: center; text-align: center;}
.settings-nav .profile-image {width: 10rem; height: 10rem; overflow: hidden; border-radius: 12rem; background: #f4f4f4;}
.settings-nav .profile-image .avatar {width: 100%; height: 100%;}
.settings-nav .nickname { margin: 1rem auto .5rem; font-weight: bold; font-size: 1.2rem;}
.settings-nav .nav-link {border-radius: .5rem;color: inherit;}
.settings-nav .nav-link:hover,
.settings-nav .nav-link.active {border-radius: .5rem; background-color: #2f69be24; color: #084298;}
.settings-nav .nav-link:hover *,
.settings-nav .nav-link.active * {color: inherit}
.settings-nav .nav-list .list-group-item {background-color: inherit; color: inherit;}
.settings-nav .nav-list .list-group-item.active {border-color: #dee2e6;}

