.auth-content {margin-top: 4rem; margin-bottom: 3rem}
.mypage-nav .card-header {display: flex; align-items: center; justify-content: center}
.mypage-nav .profile-image {overflow: hidden; width: 12rem; height: 12rem; border-radius: 12rem}
.mypage-nav .profile-image .avatar {width: 100%; height: 100%; }
.mypage-nav .nickname { font-weight: bold; font-size: 1.2rem; margin: 1rem auto .5rem}
.mypage-nav .email {}
.mypage-nav .nav-list .list-group-item {background-color: inherit; color: inherit}
.mypage-nav .nav-list .list-group-item.active {border-color: #dee2e6}